<!--[if IE]><![endif]-->
<!DOCTYPE html>
<html lang="ko" class="no-js is-lg">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-language" content="kr" />
<meta http-equiv="imagetoolbar" content="no" />
<title>AI-powered Prediction of Cancer Risk</title>
<meta name="title" content="chunjae education" />
<meta name="description" content="chunjae education" />
<meta name="copyright" content="chunjae education" />
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1, initial-scale=1" />
<link rel="apple-touch-icon" "{{ url_for('static', filename = 'img/apple-touch-icon.png') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize-3.0.2.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css')}}" /><!-- additional css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery.flipster.min.css')}}" /><!-- additional css -->
<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
<script src = "{{ url_for('static', filename = 'js/vendor/modernizr.custom.2.8.3.min.js') }}" ></script>
<!--[if (gte IE 6)&(lte IE 8)]>
    <script src="../js/vendor/jquery-1.11.2.min.js"></script>
<![endif]-->
<!--[if (gt IE 8)|!(IE)]> <!--> <script "{{ url_for('static', filename = 'js/vendor/jquery-2.1.3.min.js') }}"></script> <!--<![endif]-->
<script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
<style type="text/css">
<!--
-->
</style>
</head>
<body class="page-contact"><!-- body class -->

<div id="skipNavigation">
    <a href="#contents">컨텐츠 바로가기</a>
</div>

<div id="container"><!-- container -->

    <h1 class="sr-only">AI-powered Prediction of Cancer Risk</h1>

    <div id="wrap"><!-- wrap -->

        <div id="innerWrap"><!-- innerWrap -->

            <h2 class="sr-only">컨텐츠 영역</h2>

            <div id="header"><!-- header -->
                <h2 class="sr-only">헤더영역</h2>

                <div class="container upper"><!-- upper -->
                    <div class="wrap">
                        <div class="grid">
                            <div class="col col-1-2 logo">
                                <a href="#!"><i class="icon"><em>AI-powered Prediction of Cancer Risk</em></i></a>
                            </div>
                            <div class="col col-1-2 utill">
                                <i class="icon"><em>바이오 의료 이미지 인포매틱스기술개발 사업단</em></i>
                            </div>
                        </div>
                    </div>
                </div><!-- // upper -->

                <div class="container downer"><!-- downer -->
                    <div class="wrap">
                        <div class="grid">
                          <div class="col d1">
                              <a href="/home" class="d1"><span>Home</span></a>
                          </div>
                          <div class="col d1">
                              <a href="/about" class="d1"><span>About</span></a>
                          </div>
                          <div class="col d1 in">
                              <a href="/contact" class="d1"><span>Contact</span></a>
                          </div>
                          <div class="col d1">
                              <a href="/disclaimer" class="d1"><span>Legal</span></a>
                              <div class="d2">
                                  <ul class="reset">
                                      <li><a href="/disclaimer" class="d2"><span>Disclaimer</span></a></li>
                                      <li><a href="/algorithm" class="d2"><span>Algorithm</span></a></li>
                                      <li><a href="/privacy" class="d2"><span>Privacy Policy</span></a></li>
                                  </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </div><!-- // upper -->
            </div><!-- // header -->

            <div id="contents"><!-- contents -->

                <h2 class="sr-only">컨텐츠 영역</h2>

                <div id="inner">

                    <h2 class="title">바이오의료 영상 인포매틱스 기술개발 사업단</h2>

                    <p class="message">
                    서울특별시 서대문구 이화여대길 52 SK텔레콤관 404호<br/>
                    Tel: +82-2-3277-3926&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: +82-2-3277-4409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: gracehong@ewha.ac.kr
                    </p>
                    <p class="message">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.3572651460934!2d126.94260869875868!3d37.56178899617568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c988560fd0329%3A0x3af325b56bcc5427!2z7J207ZmUU0vthZTroIjsvaTqtIA!5e0!3m2!1sko!2skr!4v1571017832717!5m2!1sko!2skr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </p>

                    <!--
                    <h2 class="title">title 2</h2>

                    <p class="message">
                        The tool is intended for men with non-metastatic prostate cancer who are deciding between conservative and radical management regimes. The tool is not for use in cases where prostate cancer has spread beyond the prostate. The tool is also less well tested and likely to be less reliable in men with very high PSA, high grade group or high stage as very few men with these characteristics were managed with conservative management in our development or validation data.<br />
                        Nothing can ever tell an individual man exactly what is going to happen to him in the future but this tool will provide a realistic estimate or ‘best guess’ about the potential survival benefits of different treatment options.
                    </p>

                    <h2 class="title">title 3</h2>

                    <p class="message">
                        The tool is intended for men with non-metastatic prostate cancer who are deciding between conservative and radical management regimes. The tool is not for use in cases where prostate cancer has spread beyond the prostate. The tool is also less well tested and likely to be less reliable in men with very high PSA, high grade group or high stage as very few men with these characteristics were managed with conservative management in our development or validation data.<br />
                        Nothing can ever tell an individual man exactly what is going to happen to him in the future but this tool will provide a realistic estimate or ‘best guess’ about the potential survival benefits of different treatment options.
                    </p>
                    -->
                </div>

            </div><!-- // contents -->

            <div id="footer"><!-- footer -->
                <h2 class="sr-only">풋터 영역</h2>

                <div class="container upper">
                    <div class="wrap text-center">
                        <img src="{{ url_for('static', filename = 'img/common/footer_banner.jpg')}}" alt="" />
                    </div>
                </div>

                <div class="container downer">
                    <div class="wrap text-center">
                        COPYRIGHT(C) EWHA WOMANS UNIVERSITY &amp; VHS MEDICAL CENTER. ALL RIGHTS RESERVED.
                    </div>
                </div>
            </div><!-- // footer -->

        </div><!-- // contents -->

    </div><!-- // wrap -->


</div><!-- // container -->

<script src="{{ url_for('static', filename = 'js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/ui.js') }}"></script>
</body>
</html>
