<!--[if IE]><![endif]-->
<!DOCTYPE html>
<html lang="ko" class="no-js is-lg">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-language" content="kr" />
<meta http-equiv="imagetoolbar" content="no" />
<title>AI-powered Prediction of Cancer Risk</title>
<meta name="title" content="chunjae education" />
<meta name="description" content="chunjae education" />
<meta name="copyright" content="chunjae education" />
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1, initial-scale=1" />
<link rel="apple-touch-icon" "{{ url_for('static', filename = 'img/apple-touch-icon.png') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize-3.0.2.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css')}}" /><!-- additional css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery.flipster.min.css')}}" /><!-- additional css -->
<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
<script src = "{{ url_for('static', filename = 'js/vendor/modernizr.custom.2.8.3.min.js') }}" ></script>
<!--[if (gte IE 6)&(lte IE 8)]>
    <script src="../js/vendor/jquery-1.11.2.min.js"></script>
<![endif]-->
<!--[if (gt IE 8)|!(IE)]> <!--> <script "{{ url_for('static', filename = 'js/vendor/jquery-2.1.3.min.js') }}"></script> <!--<![endif]-->
<script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
<style type="text/css">
<!--
-->
</style>
</head>
<body class="page-legal"><!-- body class -->

<div id="skipNavigation">
    <a href="#contents">컨텐츠 바로가기</a>
</div>

<div id="container"><!-- container -->

    <h1 class="sr-only">AI-powered Prediction of Cancer Risk</h1>

    <div id="wrap"><!-- wrap -->

        <div id="innerWrap"><!-- innerWrap -->

            <h2 class="sr-only">컨텐츠 영역</h2>

            <div id="header"><!-- header -->
                <h2 class="sr-only">헤더영역</h2>

                <div class="container upper"><!-- upper -->
                    <div class="wrap">
                        <div class="grid">
                            <div class="col col-1-2 logo">
                                <a href="#!"><i class="icon"><em>AI-powered Prediction of Cancer Risk</em></i></a>
                            </div>
                            <div class="col col-1-2 utill">
                                <i class="icon"><em>바이오 의료 이미지 인포매틱스기술개발 사업단</em></i>
                            </div>
                        </div>
                    </div>
                </div><!-- // upper -->

                <div class="container downer"><!-- downer -->
                    <div class="wrap">
                        <div class="grid">
                          <div class="col d1">
                              <a href="/home" class="d1"><span>Home</span></a>
                          </div>
                          <div class="col d1">
                              <a href="/about" class="d1"><span>About</span></a>
                          </div>
                          <div class="col d1">
                              <a href="/contact" class="d1"><span>Contact</span></a>
                          </div>
                          <div class="col d1 in">
                              <a href="/disclaimer" class="d1"><span>Legal</span></a>
                              <div class="d2">
                                  <ul class="reset">
                                      <li><a href="/disclaimer" class="d2"><span>Disclaimer</span></a></li>
                                      <li><a href="/algorithm" class="d2"><span>Algorithm</span></a></li>
                                      <li><a href="/privacy" class="d2"><span>Privacy Policy</span></a></li>
                                  </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </div><!-- // upper -->
            </div><!-- // header -->

            <div id="contents"><!-- contents -->

                <h2 class="sr-only">컨텐츠 영역</h2>

                <div id="inner">

                    <h2 class="title">Privacy Policy</h2>

                    <p class="message">
                    본 제품은 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 '정보통신망법'), 개인정보보호법 등 국내의 개인정보 보호 법령을 준수합니다.
		    <br/>
		    <br/> 
본 제품은 환자 개인정보를 다른 시스템과 연동하여 사용하지 않으며, 전문의의 치료를 위한 판단을 보조하기 위해 근치적 수술을 받은 폐암환자의 수술 후 2년이내 재발 가능성을 산출하는 목적으로 의료 관련 전문기관의 임상시험에만 제한하여 사용하고 있습니다. 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
본 제품은 환자 개인정보 보호를 위해 허용된 의료기관의 전문사용자에게만 접속이 허용되며, 입력되는 모든 정보는 제품의 서버에 저장되지 않으며 제품에 입력 후 20초 내에 자동삭제가 되는 시스템을 구축하고 있기습니다. 따라서 환자 정보는 사용목적에 따른 결과산출 외에는 저장, 제3자에게 제공 등이 이루어 지지 않습니다.
		    <br/>
		    <br/>
관련하여 궁금하신 점이나 요청사항이 있을 시에는 본 제품에 표기된 연락처로 연락하여 주시면 답변 및 처리하겠습니다.
		    </p>

                </div>

            </div><!-- // contents -->

            <div id="footer"><!-- footer -->
                <h2 class="sr-only">풋터 영역</h2>

                <div class="container upper">
                    <div class="wrap text-center">
                        <img src="{{ url_for('static', filename = 'img/common/footer_banner.jpg')}}" alt="" />
                    </div>
                </div>

                <div class="container downer">
                    <div class="wrap text-center">
                        COPYRIGHT(C) EWHA WOMANS UNIVERSITY &amp; VHS MEDICAL CENTER. ALL RIGHTS RESERVED.
                    </div>
                </div>
            </div><!-- // footer -->

        </div><!-- // contents -->

    </div><!-- // wrap -->


</div><!-- // container -->

<script src="{{ url_for('static', filename = 'js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/ui.js') }}"></script>
</body>
</html>
